$bgYellow:#E1DF00;
$bgGray:#F4EDE7;
.br_span{
    display: block;
    line-height: 0 !important;
    overflow: hidden !important;
    color: transparent !important;

}
.mt--1{
    margin-top: -1rem;
}
.z-index5{
    z-index: 5;
}
.z-index0{
    z-index: 0;
}
button:focus-visible{
    outline:none;
}
#hd{
    width: 100vw;
    z-index: 100;
    background-color: #ffffffc0;
    backdrop-filter: blur(15px);
    
    h1{
        img{
            height: 2.5rem;
        }
    }
    .d1{
        &:hover{
            &:before{
                content: "";
                background-color: #ffffffc0;
                border-top: 1px solid #6A92FE;
                position: absolute;
                top: 100%;
                left: 0; right: 0;
                height: 205px;
            }
            .d1_li{ 
                &:hover{
                    .d1_a{color: #6A92FE;}
                }
                .d2{
                    .d2_li{
                        &:hover{
                            a{
                                color:#6A92FE;
                            }
                        }                        
                    }                    
                    padding: 1rem 0; 
                    max-height: 205px;                                       
                }
            }
        }   
        &:before{
            content: "";
            position: absolute;
            top: 100%;
            left: 0; right: 0;
            height: 0px;
            overflow: hidden;
            transition: .5s;
            border-top: 1px solid transparent; 
        }
        .d1_li{
            padding:1rem 2rem;           
            .d1_a{
                font-size: 1.2rem;
            }
            .d2{
                top:100%;
                transform: translateX(-50%);
                left: 50%;
                max-height: 0;
                overflow: hidden;
                transition: .5s;
                .d2_li{
                    white-space: nowrap;
                    text-align: center;
                    margin: 0.5rem 0;
                    letter-spacing: 0.085rem;
                    a{
                        font-size: 1.05rem;
                    }
                }
            }
        }
    }
    .lnb{
        .searchIcon{
            font-size: 1.3rem;
            line-height: 1.85;
            .form-show{
                right: 7rem;
                .a-search{                    
                display: block;
                padding: 0 .5rem;
                }
                .search-pc{
                    border:0;
                }
            }
        }
        .personIcon{
            font-size: 1.6rem;
        }
    }
}
#main_slide{
    padding-top: 65px;
}
#hj_swiper{
    .swiper-wrapper{
        .swiper-slide{
            padding-top: 36.46%;
            height: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            .txt_group{
                display: flex; 
                position: absolute;
                top: 0;
                bottom: 0;
                left: 8rem;
                color: #333;
                flex-direction: column;
                justify-content: center;  
                p{
                    transform: translateY(100px);
                    opacity: 0;
                }              
                .slide_title{
                    font-size: 4rem;
                    font-weight: 300;
                }
                .slide_txt{
                    font-size: 0.9rem;
                }
            }
            .main_slide_video{
                position: absolute;
                right: 8rem;
                bottom: 2rem;                
                iframe{
                border-radius: 2rem;
                }
            }            
        }
        .hj-slide1{
            background-image: url(../img/hj_img/main_banner/banner1.jpg);
            
        }
        .hj-slide2{
            background-image: url(../img/hj_img/main_banner/banner2.jpg);
            
        }
        .hj-slide3{
            background-color:$bgGray;
            &:after{
                background-image: url(../img/hj_img/main_banner/safe_items_img.png);
                background-repeat: no-repeat;
                position: absolute;
                content: "";
                right: 0px;
                top: 0;
                bottom: -100px;
                margin: auto 4rem;
                background-size: contain;
                width: 692px;
                height: 560px;
            }
            &:before{
                position: absolute;
                content: "";
                background: $bgYellow;
                width: 100%;
                padding: 6rem;
                bottom:0;
            }
        }
        .swiper-slide-active{
            .txt_group{
                 p{
                    transform: translateY(0);
                    opacity: 1;
                    transition: 1s;
                 }   
            }
        }
    }
}

#with_place{
    margin-top: 7rem;
    background: #D3DFFF;
}
#placeSwiper{
    // padding: 10rem 0;
    position: unset;
    p{margin: 0;}
    .swiper-wrapper{
        z-index: 12;
        .place-slide {
            text-align: center;
            font-size: 18px;
            .c_swiper{
                margin: 0;
                padding: 8.5rem 0;
                .swiper-slide{
                    background: #fff;
                    padding: 2rem 0;
                    border: 3px solid #fff;
                    box-sizing: border-box;
                    max-height: 275px;
                    padding: 2rem 1.5rem;
                    .thumimg{
                        width: 7rem;
                        height: 7rem;
                        border-radius: 50%;
                        margin: auto;
                        overflow: hidden;
                        img{
                            width: calc(100% + 15px);
                            display: block;
                            margin-left: -7.5px;
                            margin-top: -15px;
                        }
                    }
                    .thumtitle{font-size: 1.2rem;font-weight:900; margin-top: .5rem;}
                    .thumadress{font-size: 1rem;font-weight:500;}
                    .thumtext{font-size: 0.8rem; color: #666;overflow: hidden; 
                        text-overflow: ellipsis;}
                }
            }
            .c_swiper2{                            
                position: absolute;
                max-width: 500px;
                margin: 0;
                left: 200px;
            }
            .thumbsSlider.swiper-slide-thumb-active{
                border: 3px solid #6a92fe;
            }
            .pagiBtn{
                
                div{
                    font-size: 1rem;
                    position: unset;
                    margin: 0;
                    &::after{
                        color: #333;
                        font-size: 1rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .placeSwiper-pagination{
        width: auto;        
        display: flex;
        flex-direction: column;
        justify-content: center;
        top: 0;
        bottom: 0;       
        left: 0;   
        z-index: 100;      
        .swiper-pagination-bullet {
            width: 100%;
            height: auto;
            line-height: 1;
            font-size: 1.3rem;
            opacity: 1;
            margin: .2rem 0;
            display: flex;
            align-items: center;
            position: relative;
            color: #333;
            background-color: transparent;
            span{
                border-radius: .5rem 0 0 .5rem; 
                padding: 1.5rem 0 1.5rem 3rem;
                width: 200px;
                background: #fff;
                text-align: start;
            }
            i{
                display: none;
                align-items: center;
                justify-content: center;                
                width: 50px;
                height: 100%;
                background-color: #6a92fe;
                border-radius:0 .5rem .5rem 0;
                margin: .2rem 0;
                box-sizing: border-box;
            }
        }  
        .swiper-pagination-bullet-active {
            color: #fff;
            z-index: 15;
            span{
               
                background: #6a92fe;
            }
            i{  
                display: flex;
                
            }
        }
    }  
}




#quik{
    position: fixed;
    bottom: 2rem;
    right: 1rem; 
    z-index: 1000;  
    #quikBtn{
        transform: translateY(.9rem);
        z-index: 1;        
        img{
            height: 5rem;
        }
    }
    #quikMenu{
        &::before{
            content: "";
            display: block;
            background: #3D71FF;
            height: .5rem;
        }
        background: #3D71FF;
        border-radius: 0 0 3rem 3rem;
        .qIcon{
            background: #6A92FE;
            border-radius: 50%;
            box-shadow: 3px 3px 3px #00000030;
            line-height: 1;
            a{
                font-size: 1.7rem;
                color: #fff;                
            }
        }
    }
    .top_btn{
        background: #eee; 
        padding: 0.7rem; 
        border-radius: 50%; 
        margin-top: 1rem; 
        box-shadow: 3px 3px 3px #aaa;
        line-height: 1;
        a{font-size: 2rem; color: #666;}
    }

}
#ft{
    padding-top: 5rem;
    padding-bottom: 5rem;
    .ft_right{
        .ft_menu{
            .ft_menu_li{
                border-right: 1px solid #666;
                line-height: 1;
            }
        }
        .ft-icon{
            li{
                background: #ddd;
                font-size: 1.7rem;
                line-height: 1;
                border-radius: .5rem;
                padding: .3rem;
                a{
                    color: #999;
                }
            }
        }
    }
    .ft_left{
        h1{
            img{
                height: 4rem;
            }
        }
    }
    
}
